// Place all the styles related to the location controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.location_1{
	width: 100%;
}
.opera {
	 width:500px;
     height:280px;
     float: left;
     border-radius: 25px;
     margin-top: 10px;
     margin-left:60px;
}

.avenue{
	margin-top: 450px;
}

.brand-before2 {
	padding-left: 650px;
    padding-right: 300px;
    margin-top: 20px;
    margin-bottom: -40px;
    font-size: 35px;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    text-align: justify;
    color: #000;
}

.brand-before3 {
	padding-left: 60px;
    padding-right: 300px;
    margin-top: 20px;
    margin-bottom: -0px;
    font-size: 35px;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    text-align: justify;
    color: #000;
}

.brand-before4 {
	padding-left: 60px;
    padding-right: 900px;
    margin-top: 60px;
    margin-bottom: -0px;
    font-size: 35px;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    text-align: justify;
    color: #000;
}

.opera1 {
	 width:500px;
     height:270px;
     float: right;
     border-radius: 25px;
     margin-top: -280px;
     margin-right:300px;
     margin-bottom: 150px;
}

.location_2 {
	margin-bottom: 150px;
}