// Place all the styles related to the offfer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.lng {
  position: relative;
  width: 97%;
  height: 500px;
  margin-top: 35px;
  margin-right:15px;
  margin-left: 30px;
  min-height: 1px;
  float: left;
  padding-left: 0px;
  padding-bottom: 0px; 
  border-bottom: dashed;
  border-color: #DEB887;
  border-width: 5px;
}

.longer{

	margin-right:50px;
	margin-left: 550px;
    font-size: 35px;
    text-align: left;
    #font-family: "Tangerine",serif;
    color: black;
    text-transform: none;
    text-align: justify; 
}

.longer1{
	  margin-left: 550px;
    font-size: 40px;
    margin-top: 15px;
    #text-align: left;
    #font-family: "Tangerine",serif;
    color: black;
    text-transform: none;
    text-align: justify; 
}

.grp{
  position: relative;
  width: 97%;
  height: 500px;
  margin-top: 35px;
  margin-right:15px;
  margin-left: 30px;
  min-height: 1px;
  float: left;
  padding-left: 0px;
  padding-bottom: 0px; 
  border-bottom: dashed;
  border-color: #DEB887;
  border-width: 5px;
}

.grp1 {
	margin-left: 550px;
    font-size: 40px;
    text-align: left;
    #font-family: "Tangerine",serif;
    color: black;
    text-transform: none;
    text-align: justify; 
}



.toggle { 
  font-size: 13px;
  line-height:20px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #ffffff; /* Main background */
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}

/* Toggle Link text */
.toggle a.toggle-trigger_1 {
  display:block;
  padding: 10px 20px 15px 20px;
  position:relative;
  margin-top: 40px;
  border-radius: 20px;
  text-decoration: none;
  color: #666;
  background: url('../assets/offers.jpg');
}

.toggle a.toggle-trigger_2 {
  display:block;
  padding: 10px 20px 15px 20px;
  position:relative;
  text-decoration: none;
  border-radius: 20px;
  color: #666;
  background: url('../assets/offers.jpg');
}

.toggle a.toggle-trigger_3 {
  display:block;
  padding: 10px 20px 15px 20px;
  position:relative;
  border-radius: 20px;
  text-decoration: none;
  color: #666;
  background: url('../assets/offers.jpg');
}

/* Toggle Link hover state */
.toggle a.toggle-trigger:hover {
  opacity: .8;
  text-decoration: none;
}

/* Toggle link when clicked */
.toggle a.active {
  text-decoration: none;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 8px 6px -6px #ccc;
  -moz-box-shadow: 0 8px 6px -6px #ccc;
  box-shadow: 0 8px 6px -6px #ccc;
  color: #000;
}

/* Lets add a "-" before the toggle link */
.toggle a.toggle-trigger:before {
  content: "-"; /* You can add any symbol, font icon, or graphic icon */
  margin-right: 10px;
  font-size: 1.3em; 
}

/* When the toggle is active, change the "-" to a "+" */
.toggle a.active.toggle-trigger:before {
  content: "+";
}

/* The content of the toggle */
.toggle .toggle-content {
  padding: 10px 20px 15px -20px;
  color:#666;
}

.title_center_1_1{
    text-align: left;
    text-weight: bold;
    color: #DEB887;
    font-size: 45px;
    text-decoration: underline;
    padding-top: -10px;
}

.title_center_1_2{
    text-align: center;
    color: #000;
    font-size: 50px;
    padding-top: 45px;
}

.img_lon{
     width:490px;
     height: 300px;
     float: left;
     border-radius: 25px;
     margin-top: 8px;
     margin-left:28px;
     margin-bottom: 15px;

}

.img_group{
     width:490px;
     height: 300px;
     float: left;
     border-radius: 25px;
     margin-top: 8px;
     margin-left:28px;
     margin-bottom: 15px;

}

.img_talented{
     width:490px;
     height: 340px;
     float: left;
     border-radius: 25px;
     margin-top: 8px;
     margin-left:28px;
     margin-bottom: 15px;

}